.cover__link {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-decoration-line: none;
    color: white;
    max-width: 1184px;
    min-height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover__link  {
        min-height: 62.5vw;
    }
}

.cover__link:hover > .cover__image {
    opacity: .3;
}