.cover__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    margin: 0 auto;
    padding: 21% 0;
    text-decoration-line: none;
    color: white;
}

.cover__link:hover > .cover__image {
    opacity: 0.8;
}