.place__title {
    width: 460px;
    margin: 0 40px 0 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: flex-end;
}

@media screen and (max-width:1024px) {
    .place__title {
        width: 440px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        width: 50vw;
        max-width: 340px;
        margin-right: 28px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 450px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        align-self: flex-start;
        margin-left: 16px;
    }
}