.place__main-content {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 450px) {
    .place__main-content {
        margin-top: 32px;
        margin: 32px 16px 0 16px;
    }
}