.places {
    margin: 0;
    padding: 50px 148px;
}

@media screen and (max-width:1024px) {
    .places {
        padding: 50px 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        padding: 50px 24px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        padding: 38px 0;
    }
}