.cover__subtitle {
    max-width: 320px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-self: center;
    margin: 32px 0 0;    
}

@media screen and (max-width: 450px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
        width: calc(100% - 32px);
    }
}