@import url(./__lang-container/header__lang-container.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__lang-item/header__lang-item.css);

.header {
    width: calc(100% - 296px);
    display: flex;
    justify-content: space-between;
    margin: 34px 0 58px;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 96px);
        margin: 34px auto 50px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 32px);
        margin: 20px auto 50px;
    }
}