.place__link {
    margin: 12px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
}

.place__link:hover {
    opacity: .8;
}