@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    display: flex;
    justify-content: space-between;
    margin: 90px 0 24px;
    width: calc(100% - 96px);
    align-self: center;
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
        margin-top: 86px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        box-sizing: border-box;
        width: 100%;
        padding-left: 16px;
        flex-direction: column;
        margin: 32px 0 24px;
        align-content: flex-start;
    }
}